In [1]:
import pandas as pd 
df = pd.read_csv('C:\\Users\\lokna\\updated_insurance.csv') 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1338 non-null   float64
 1   sex                  1338 non-null   int64
 2   bmi                  1338 non-null   float64
 3   children             1338 non-null   float64
 4   smoker               1338 non-null   int64
 5   charges              1338 non-null   float64
 6   avg_steps_per_day    1338 non-null   float64
 7   gym_frequency        1338 non-null   int64
 8   time_spent_in_gym    1338 non-null   int64
 9   region_northeast     1338 non-null   bool
 10  region_northwest     1338 non-null   bool
 11  region_southeast     1338 non-null   bool
 12  region_southwest     1338 non-null   bool
 13  occupation_Artist    1338 non-null   bool
 14  occupation_Doctor    1338 non-null   bool
 15  occupation_Engineer  1338 non-null   bool
 16  occupation_Other     1338 non-null   bool
 17  occupation_Teacher   1338 non-null   bool
dtypes: bool(9), float64(5), int64(4)
memory usage: 106.0 KB

C:\Users\lokna\AppData\Local\Temp\ipykernel_19680\269876784.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
X = df.drop('charges', axis=1)
y = df['charges']
print(X.info())
print(y.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1338 non-null   float64
 1   sex                  1338 non-null   int64
 2   bmi                  1338 non-null   float64
 3   children             1338 non-null   float64
 4   smoker               1338 non-null   int64
 5   avg_steps_per_day    1338 non-null   float64
 6   gym_frequency        1338 non-null   int64
 7   time_spent_in_gym    1338 non-null   int64
 8   region_northeast     1338 non-null   bool
 9   region_northwest     1338 non-null   bool
 10  region_southeast     1338 non-null   bool
 11  region_southwest     1338 non-null   bool
 12  occupation_Artist    1338 non-null   bool
 13  occupation_Doctor    1338 non-null   bool
 14  occupation_Engineer  1338 non-null   bool
 15  occupation_Other     1338 non-null   bool
 16  occupation_Teacher   1338 non-null   bool
dtypes: bool(9), float64(4), int64(4)
memory usage: 95.5 KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 1338 entries, 0 to 1337
Series name: charges
Non-Null Count  Dtype
--------------  -----
1338 non-null   float64
dtypes: float64(1)
memory usage: 10.6 KB
None

1st question

In [3]:
import numpy as np
median_age = np.median(X['age'])
print(median_age)

39.0

2nd question

In [4]:
from sklearn.preprocessing import MinMaxScaler #importing minmaxscaler from sklearn 

# scale the feature set
scaler = MinMaxScaler() # creating object for minmaxscaler intially the range is between (0,1)
X_scaled = pd.DataFrame(scaler.fit_transform(X), columns=X.columns) # the fit transformed is used and assign to new varoable X_scaled
print(X_scaled)
# calculate the median of column age in X_scaled
median_age = X_scaled['age'].median()
print(f"Median of column age in X_scaled: {median_age:.2f}")

           age  sex       bmi  children  smoker  avg_steps_per_day  \
0     0.021739  0.0  0.321227       0.0     0.0           0.678161
1     0.000000  1.0  0.391041       0.2     1.0           0.678161
2     0.217391  1.0  0.458434       0.6     1.0           0.678161
3     0.326087  1.0  0.181464       0.0     1.0           0.563218
4     0.304348  1.0  0.347592       0.0     1.0           0.632184
...        ...  ...       ...       ...     ...                ...
1333  0.695652  1.0  0.403820       0.6     1.0           0.505747
1334  0.000000  0.0  0.429379       0.0     1.0           0.632184
1335  0.456522  0.0  0.562012       0.0     1.0           0.632184
1336  0.065217  0.0  0.264730       0.0     1.0           0.919540
1337  0.934783  0.0  0.352704       0.0     1.0           0.206897

      gym_frequency  time_spent_in_gym  region_northeast  region_northwest  \
0          0.333333               0.75               0.0               0.0
1          0.666667               0.50               0.0               0.0
2          1.000000               0.75               0.0               1.0
3          0.333333               1.00               0.0               1.0
4          0.666667               1.00               0.0               1.0
...             ...                ...               ...               ...
1333       0.666667               0.50               0.0               1.0
1334       1.000000               0.75               1.0               0.0
1335       0.666667               0.75               0.0               0.0
1336       0.333333               0.50               0.0               0.0
1337       0.666667               0.00               0.0               1.0

      region_southeast  region_southwest  occupation_Artist  \
0                  0.0               1.0                0.0
1                  1.0               0.0                0.0
2                  0.0               0.0                1.0
3                  0.0               0.0                1.0
4                  0.0               0.0                1.0
...                ...               ...                ...
1333               0.0               0.0                0.0
1334               0.0               0.0                1.0
1335               0.0               1.0                0.0
1336               0.0               1.0                0.0
1337               0.0               0.0                0.0

      occupation_Doctor  occupation_Engineer  occupation_Other  \
0                   0.0                  0.0               1.0
1                   0.0                  1.0               0.0
2                   0.0                  0.0               0.0
3                   0.0                  0.0               0.0
4                   0.0                  0.0               0.0
...                 ...                  ...               ...
1333                1.0                  0.0               0.0
1334                0.0                  0.0               0.0
1335                0.0                  1.0               0.0
1336                0.0                  0.0               0.0
1337                0.0                  1.0               0.0

      occupation_Teacher
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
...                  ...
1333                 0.0
1334                 0.0
1335                 0.0
1336                 1.0
1337                 0.0

[1338 rows x 17 columns]
Median of column age in X_scaled: 0.46

3rd question

In [5]:
from sklearn.cluster import AgglomerativeClustering

# create an AgglomerativeClustering object with n_clusters=None
clusterer = AgglomerativeClustering(n_clusters=None, linkage = 'ward')

# loop over a range of distance_threshold values from 1 to 35
for distance_threshold in range(1, 35):
    # set the distance_threshold value for this iteration
    clusterer.set_params(distance_threshold=distance_threshold) #set_params() method is used to set the distance_threshold parameter of agglomerativeclustering to the current distance_threshold 

# for every iteration the distance threshold value changes that the agglomerativeclustering algorithm is fitted to the data with updated threshold value
    # fit the clusterer to the data and get the number of clusters
    cluster_labels = clusterer.fit_predict(X_scaled) #the clusterer fits to the scaled data and simultaneously predicts the cluster lables at each point using fit-predict method
    num_clusters = len(set(cluster_labels)) # number of unique clusted labels assigned to sample is counted.this is done by converting cluster_labels array into set 

    # check if the number of clusters is 4
    if num_clusters == 4:
        print(f"Distance threshold value that results in 4 clusters: {distance_threshold}")
        break

Distance threshold value that results in 4 clusters: 22

4th question

In [6]:
from sklearn.cluster import AgglomerativeClustering

# Create an AgglomerativeClustering object with n_clusters=None and linkage='ward'
clusterer = AgglomerativeClustering(n_clusters=None, linkage='ward', distance_threshold=22)

# Fit the model and get cluster labels
cluster_labels = clusterer.fit_predict(X_scaled)

# Compute the size of each cluster
cluster_sizes = {cluster_label: sum(cluster_labels == cluster_label) for cluster_label in set(cluster_labels)}

# Compute the characteristics/features of each cluster
# You can compute statistics or describe the characteristics based on your data and context
# Replace the placeholders with the actual characteristics of each cluster
cluster_characteristics = {
    'Cluster 0': '[Characteristics for Cluster 0]',
    'Cluster 1': '[Characteristics for Cluster 1]',
    'Cluster 2': '[Characteristics for Cluster 2]',
    'Cluster 3': '[Characteristics for Cluster 3]'
}

# Print cluster sizes and characteristics
print("Cluster Sizes:")
print(cluster_sizes)
print("\nCluster Characteristics:")
for cluster, characteristics in cluster_characteristics.items():
    print(f"{cluster}: {characteristics}")

Cluster Sizes:
{0: 466, 1: 359, 2: 257, 3: 256}

Cluster Characteristics:
Cluster 0: [Characteristics for Cluster 0]
Cluster 1: [Characteristics for Cluster 1]
Cluster 2: [Characteristics for Cluster 2]
Cluster 3: [Characteristics for Cluster 3]

2nd model for 4th question

In [7]:
from sklearn.cluster import AgglomerativeClustering
import numpy as np

# Train an Agglomerative clustering model with all default parameters and distance_threshold=22
clusterer = AgglomerativeClustering(n_clusters=None, distance_threshold=22)
cluster_labels = clusterer.fit_predict(X_scaled)

# Compute the size of each cluster
cluster_sizes = np.bincount(cluster_labels)

# Print the size of each cluster in the table
print("Size")
print("Cluster 0: " + str(cluster_sizes[0]))
print("Cluster 1: " + str(cluster_sizes[1]))
print("Cluster 2: " + str(cluster_sizes[2]))
print("Cluster 3: " + str(cluster_sizes[3]))

Size
Cluster 0: 466
Cluster 1: 359
Cluster 2: 257
Cluster 3: 256

In [8]:
print(cluster_labels)

[1 3 2 ... 3 0 3]

In [9]:
inverse_transformed_data = scaler.inverse_transform(X_scaled)
new_inv_transformed_df = pd.DataFrame(inverse_transformed_data, columns = X_scaled.columns)
new_inv_transformed_df['cluster_label'] = cluster_labels
new_inv_transformed_df.head()

,age,sex,bmi,children,smoker,avg_steps_per_day,gym_frequency,time_spent_in_gym,region_northeast,region_northwest,region_southeast,region_southwest,occupation_Artist,occupation_Doctor,occupation_Engineer,occupation_Other,occupation_Teacher,cluster_label
0,19.0,0.0,27.900,0.0,0.0,8900.0,1.0,45.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1
1,18.0,1.0,30.495,1.0,1.0,8900.0,2.0,30.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,3
2,28.0,1.0,33.000,3.0,1.0,8900.0,3.0,45.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2
3,33.0,1.0,22.705,0.0,1.0,7900.0,1.0,60.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2
4,32.0,1.0,28.880,0.0,1.0,8500.0,2.0,60.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2

5th question

In [10]:
average_age = new_inv_transformed_df.groupby('cluster_label')['age'].mean()
average_age.sort_values()

cluster_label
3    37.714844
1    39.075209
2    39.529183
0    39.950644
Name: age, dtype: float64

6th question

In [11]:
avg_steps_perday = new_inv_transformed_df.groupby('cluster_label')['avg_steps_per_day'].median()
avg_steps_perday.sort_values()

cluster_label
2    7800.0
1    7900.0
0    8000.0
3    8100.0
Name: avg_steps_per_day, dtype: float64

In [12]:
cluster_1 = new_inv_transformed_df[new_inv_transformed_df['cluster_label'] == 1]
print(cluster_1)
cluster_1.head()

       age  sex     bmi  children  smoker  avg_steps_per_day  gym_frequency  \
0     19.0  0.0  27.900       0.0     0.0             8900.0            1.0
8     37.0  1.0  29.830       2.0     1.0             9000.0            0.0
11    62.0  0.0  26.290       0.0     0.0             7300.0            3.0
19    30.0  1.0  35.300       0.0     0.0             8200.0            0.0
32    19.0  0.0  28.600       5.0     1.0            10600.0            3.0
...    ...  ...     ...       ...     ...                ...            ...
1319  43.0  0.0  26.315       2.0     1.0             7500.0            0.0
1325  61.0  1.0  33.535       0.0     1.0             6200.0            2.0
1327  51.0  1.0  30.030       1.0     1.0             6400.0            3.0
1328  23.0  0.0  30.495       2.0     1.0             8200.0            0.0
1329  52.0  1.0  38.600       2.0     1.0             8000.0            2.0

      time_spent_in_gym  region_northeast  region_northwest  region_southeast  \
0                  45.0               0.0               0.0               0.0
8                   0.0               1.0               0.0               0.0
11                 30.0               0.0               0.0               1.0
19                  0.0               0.0               0.0               0.0
32                 60.0               0.0               0.0               0.0
...                 ...               ...               ...               ...
1319                0.0               0.0               1.0               0.0
1325               15.0               1.0               0.0               0.0
1327               15.0               0.0               0.0               1.0
1328                0.0               1.0               0.0               0.0
1329               15.0               0.0               0.0               0.0

      region_southwest  occupation_Artist  occupation_Doctor  \
0                  1.0                0.0                0.0
8                  0.0                0.0                0.0
11                 0.0                0.0                0.0
19                 1.0                0.0                0.0
32                 1.0                0.0                0.0
...                ...                ...                ...
1319               0.0                0.0                0.0
1325               0.0                0.0                0.0
1327               0.0                0.0                0.0
1328               0.0                0.0                0.0
1329               1.0                0.0                0.0

      occupation_Engineer  occupation_Other  occupation_Teacher  cluster_label
0                     0.0               1.0                 0.0              1
8                     0.0               1.0                 0.0              1
11                    0.0               1.0                 0.0              1
19                    0.0               1.0                 0.0              1
32                    0.0               1.0                 0.0              1
...                   ...               ...                 ...            ...
1319                  0.0               1.0                 0.0              1
1325                  0.0               1.0                 0.0              1
1327                  0.0               1.0                 0.0              1
1328                  0.0               1.0                 0.0              1
1329                  0.0               1.0                 0.0              1

[359 rows x 18 columns]

,age,sex,bmi,children,smoker,avg_steps_per_day,gym_frequency,time_spent_in_gym,region_northeast,region_northwest,region_southeast,region_southwest,occupation_Artist,occupation_Doctor,occupation_Engineer,occupation_Other,occupation_Teacher,cluster_label
0,19.0,0.0,27.90,0.0,0.0,8900.0,1.0,45.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1
8,37.0,1.0,29.83,2.0,1.0,9000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
11,62.0,0.0,26.29,0.0,0.0,7300.0,3.0,30.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1
19,30.0,1.0,35.30,0.0,0.0,8200.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1
32,19.0,0.0,28.60,5.0,1.0,10600.0,3.0,60.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1

7th question

In [13]:
#1sst part
engineer = cluster_1['occupation_Engineer']
engineer_count = (engineer == 1).sum()
print(engineer_count)

#2nd part
smokers = cluster_1['smoker']
smoker_count = (smokers == 0 ).sum()
print(smoker_count)
threshold = 0.75 * len(smokers) 
print(threshold)
if smoker_count > threshold:
 print("most of them in cluster are smokers") 
else:
 print("non-smokers")
value_counts = smokers. value_counts()
value_counts

#3rd part
northeast = cluster_1['region_northeast']
count_of_residents = (northeast == 1 ).sum()
print(count_of_residents)
total_instances = len(cluster_1['region_northeast'])
print(total_instances)
ratio = count_of_residents / total_instances
print(ratio)

#4th part
southeast = cluster_1['region_southeast']
count_of_residents = (southeast == 1 ).sum()
print(count_of_residents)
total_instances = len(cluster_1['region_southeast'])
print(total_instances)
ratio = count_of_residents / total_instances
print(ratio) 

#5th part 
female = cluster_1['sex']
female_count = (female == 1 ).sum()
print(female_count) 
value_counts = female. value_counts()
value_counts 
#assigned male as 1 and female as 0 so we have low females

0
57
269.25
non-smokers
74
359
0.20612813370473537
112
359
0.31197771587743733
186

sex
1.0    186
0.0    173
Name: count, dtype: int64

As 1's are more than 0's are less okay then 1 is assigned as no is lab 1 and 0 is assigned as yes in lab 1 so we have less no of smokers

8th question

In [14]:
cluster_2 = new_inv_transformed_df[new_inv_transformed_df['cluster_label'] == 2]
avg_gym_frequency = cluster_2['gym_frequency'].mean()
print(avg_gym_frequency) 
avg_time_spend_in_gym = cluster_2['time_spent_in_gym'].mean()
print(avg_time_spend_in_gym) 
avg_gym_freq_all = new_inv_transformed_df['gym_frequency'].mean()
print(avg_gym_freq_all)
avg_time_spend_in_gym_all = new_inv_transformed_df['time_spent_in_gym'].mean()
print(avg_time_spend_in_gym_all) 

if(avg_gym_freq_all > avg_gym_frequency):
 print("instances in cluster2 has lowest frequency")
else:
 print("instances in cluster2 has highest frequency")
    
if(avg_time_spend_in_gym_all > avg_time_spend_in_gym):
 print("instances in cluster2 has lowest frequency")
else:
 print("instances in cluster2 has highest frequency")

1.9766536964980546
34.494163424124515
1.866965620328849
33.36322869955157
instances in cluster2 has highest frequency
instances in cluster2 has highest frequency

9th question

In [15]:
cluster_3 = new_inv_transformed_df[new_inv_transformed_df['cluster_label'] == 3]  
smokers = cluster_3['smoker']
smoker_count = (smokers == 0 ).sum()
print(smoker_count)  
value_counts = smokers. value_counts()
print(value_counts) 
total = len(cluster_3['smoker'])
percentage = (smoker_count / total ) * 100 
print(percentage)

cluster_1 = new_inv_transformed_df[new_inv_transformed_df['cluster_label'] == 1]  
smokers = cluster_1['smoker']
smoker_count = (smokers == 0 ).sum()
print(smoker_count)  
value_counts = smokers. value_counts()
print(value_counts) 
total = len(cluster_1['smoker'])
percentage = (smoker_count / total ) * 100 
print(percentage)

cluster_2 = new_inv_transformed_df[new_inv_transformed_df['cluster_label'] == 2]  
smokers = cluster_2['smoker']
smoker_count = (smokers == 0 ).sum()
print(smoker_count)  
value_counts = smokers. value_counts()
print(value_counts)  
total = len(cluster_2['smoker'])
percentage = (smoker_count / total ) * 100 
print(percentage)

cluster_0 = new_inv_transformed_df[new_inv_transformed_df['cluster_label'] == 0]  
smokers = cluster_0['smoker']
smoker_count = (smokers == 0 ).sum()
print(smoker_count)  
value_counts = smokers. value_counts()
print(value_counts) 
total = len(cluster_0['smoker'])
percentage = (smoker_count / total ) * 100 
print(percentage)


# 1 is assigned to no

46
smoker
1.0    210
0.0     46
Name: count, dtype: int64
17.96875
57
smoker
1.0    302
0.0     57
Name: count, dtype: int64
15.87743732590529
53
smoker
1.0    204
0.0     53
Name: count, dtype: int64
20.622568093385212
84
smoker
1.0    382
0.0     84
Name: count, dtype: int64
18.025751072961373

10th question

In [16]:

no_children = new_inv_transformed_df['children'] == 0

new_inv_transformed_df[no_children].groupby('cluster_label')['children'].count().sort_values()

cluster_label
2     91
3    108
1    151
0    203
Name: children, dtype: int64

11th question

In [17]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=4, random_state=0, n_init='auto')
kmeans.fit_predict(X_scaled) 

new_inv_transformed_df['cluster_name'] = kmeans.labels_
new_inv_transformed_df.head()
new_inv_transformed_df['cluster_name'].value_counts().sort_index()

C:\Users\lokna\AppData\Roaming\Python\Python312\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "C:\Users\lokna\AppData\Roaming\Python\Python312\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "C:\Program Files\Python312\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Program Files\Python312\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "C:\Program Files\Python312\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

cluster_name
0    321
1    326
2    365
3    326
Name: count, dtype: int64

12th question

In [18]:
average_steps = new_inv_transformed_df.groupby('cluster_name')['avg_steps_per_day'].mean()
print("\nAverage steps per day by cluster:\n", average_steps)
average_steps = new_inv_transformed_df.groupby('cluster_name')['avg_steps_per_day'].sum()
print("\nAverage steps per day by cluster:\n", average_steps)

Average steps per day by cluster:
 cluster_name
0    7808.411215
1    7914.723926
2    7864.383562
3    7782.822086
Name: avg_steps_per_day, dtype: float64

Average steps per day by cluster:
 cluster_name
0    2506500.0
1    2580200.0
2    2870500.0
3    2537200.0
Name: avg_steps_per_day, dtype: float64

In [19]:
# Assuming 'gym_time' is the column containing gym time in minutes
cluster_zero = (new_inv_transformed_df['cluster_name'] == 0) & (new_inv_transformed_df['time_spent_in_gym'] < 30)

cluster_0_less_than_30_min = np.sum(cluster_zero)
total_cluster_0 = np.sum(new_inv_transformed_df['cluster_name'] == 0)

if cluster_0_less_than_30_min / total_cluster_0 > 0.5:
    print("More than 50 percent of instances in Cluster 0 spend less than 30 minutes in the gym.")
else:
    print("Less than 50 percent of instances in Cluster 0 spend less than 30 minutes in the gym.")

Less than 50 percent of instances in Cluster 0 spend less than 30 minutes in the gym.

In [20]:
cluster_new = (new_inv_transformed_df['cluster_name'] == 0) & (new_inv_transformed_df['gym_frequency'] >= 2)

cluster_0_at_least_three_days = np.sum(cluster_new)
print(cluster_0_at_least_three_days)
total_cluster_0 = np.sum(new_inv_transformed_df['cluster_name'] == 0)
print(total_cluster_0)

if cluster_0_at_least_three_days / total_cluster_0 > 0.5:
    print("More than 50 percent of instances in Cluster 0 go to the gym at least three days a week.")
else:
    print("Less than 50 percent of instances in Cluster 0 go to the gym at least three days a week.")

220
321
More than 50 percent of instances in Cluster 0 go to the gym at least three days a week.

for above question we took 2 because if it is 2 then 3 or 5 days in a week and if it is 3 everday as per lab 1

In [21]:
# We can observe that instances of cluster 0 has highest average age when compared to other clusters
print(new_inv_transformed_df.groupby('cluster_name')['age'].mean().sort_values(), "\n")

cluster_name
1    38.368098
2    39.049315
3    39.490798
0    39.950156
Name: age, dtype: float64

In [22]:
cluster_0 = new_inv_transformed_df[new_inv_transformed_df['cluster_name'] == 0]  
males_percentage = cluster_0['sex'].value_counts()
print("Percentage of each sex:", males_percentage/sum(males_percentage) * 100, "\n")

Percentage of each sex: sex
0.0    50.46729
1.0    49.53271
Name: count, dtype: float64

1 is considered as males and 0 is considered as females as per lab 1

13th question

In [23]:
# Creating a mask to include the condition of one child
ch = new_inv_transformed_df['children'] == 1

# Groupby using kmeans and counting the number of instances in each cluster
new_inv_transformed_df[ch].groupby('cluster_name')['children'].count().sort_values()

cluster_name
3     77
0     78
1     82
2    100
Name: children, dtype: int64

14th question

In [24]:
cluster_1 = new_inv_transformed_df[new_inv_transformed_df['cluster_name'] == 1]  
print(cluster_1[['region_northeast','region_northwest']].value_counts(),"\n")

# 2nd one
cluster_one = (new_inv_transformed_df['cluster_name'] == 1) & (new_inv_transformed_df['time_spent_in_gym'] < 30)

cluster_1_less_than_30_min = np.sum(cluster_one)
total_cluster_1 = np.sum(new_inv_transformed_df['cluster_name'] == 1)

if cluster_1_less_than_30_min / total_cluster_1 > 0.5:
    print("More than 50 percent of instances in Cluster 0 spend less than 30 minutes in the gym.")
else:
    print("Less than 50 percent of instances in Cluster 0 spend less than 30 minutes in the gym.")
#  from lab1 1 is assigned to male and 0 is mapped to female
print(cluster_1['sex'].value_counts(), "\n")

# in question 12 the smoker the cluster 0 has least cluster 2 has highest
cluster_0 = new_inv_transformed_df[new_inv_transformed_df['cluster_name'] == 0]  
smk_0 = cluster_0.groupby('cluster_name')['smoker'].value_counts()
print("Cluster 0:",smk_0/sum(smk_0) * 100, "\n")

cluster_1 = new_inv_transformed_df[new_inv_transformed_df['cluster_name'] == 1]  
smk_1 = cluster_1.groupby('cluster_name')['smoker'].value_counts()
print("Cluster 1:",smk_1/sum(smk_1) * 100, "\n")

cluster_2 = new_inv_transformed_df[new_inv_transformed_df['cluster_name'] == 2]  
smk_2 = cluster_2.groupby('cluster_name')['smoker'].value_counts()
print("Cluster 2:",smk_2/sum(smk_2)*100, "\n")

cluster_3 = new_inv_transformed_df[new_inv_transformed_df['cluster_name'] == 3]  
smk_3 = cluster_3.groupby('cluster_name')['smoker'].value_counts()
print("Cluster 3:",smk_3/sum(smk_3)*100, "\n")
# We can observe that Cluster 1 has the lowest average BMI
print(new_inv_transformed_df.groupby('cluster_name')['bmi'].mean().sort_values(), "\n")

# Age - From Question 12, we can say that CLuster 1 has the lowest average age whereas Cluster 0 has the highest average age

region_northeast  region_northwest
0.0               1.0                 170
1.0               0.0                 156
Name: count, dtype: int64

Less than 50 percent of instances in Cluster 0 spend less than 30 minutes in the gym.
sex
1.0    326
Name: count, dtype: int64

Cluster 0: cluster_name  smoker
0             1.0       84.735202
              0.0       15.264798
Name: count, dtype: float64

Cluster 1: cluster_name  smoker
1             1.0       80.981595
              0.0       19.018405
Name: count, dtype: float64

Cluster 2: cluster_name  smoker
2             1.0       79.178082
              0.0       20.821918
Name: count, dtype: float64

Cluster 3: cluster_name  smoker
3             1.0       83.742331
              0.0       16.257669
Name: count, dtype: float64

cluster_name
1    29.499479
3    29.551994
0    30.601106
2    32.902068
Name: bmi, dtype: float64

15th question

In [25]:
cluster_two = (new_inv_transformed_df['cluster_name'] == 2) & (new_inv_transformed_df['time_spent_in_gym'] >= 30)

cluster_2_less_than_30_min = np.sum(cluster_two)
total_cluster_2= np.sum(new_inv_transformed_df['cluster_name'] == 2)

if cluster_2_less_than_30_min / total_cluster_2 > 0.75:
    print("More than 50 percent of instances in Cluster 0 spend less than 30 minutes in the gym.")
else:
    print("Less than 50 percent of instances in Cluster 0 spend less than 30 minutes in the gym.")

Less than 50 percent of instances in Cluster 0 spend less than 30 minutes in the gym.

so for 0ther options
bmi from 14th question we can observe that cluster_1 has lowest and cluster_2 has highest
age from question 12 cluster_1 has lowest and cluster_0 has highest
smoker from question 12 the cluster_0 has the least and cluster_2 has highest amount of smoker

16th question

In [26]:

# Creating a list of column names to use Groupby method
list = ['occupation_Artist','occupation_Doctor','occupation_Engineer','occupation_Other','occupation_Teacher']
cluster_2 = new_inv_transformed_df[new_inv_transformed_df['cluster_name'] == 2]  
# Groupby using kmeans and counting the number of instances for each occupation
cluster_2[list].value_counts()

occupation_Artist  occupation_Doctor  occupation_Engineer  occupation_Other  occupation_Teacher
0.0                0.0                0.0                  1.0               0.0                   112
1.0                0.0                0.0                  0.0               0.0                    67
0.0                1.0                0.0                  0.0               0.0                    66
                   0.0                1.0                  0.0               0.0                    63
                                      0.0                  0.0               1.0                    57
Name: count, dtype: int64

17Th question

In [27]:
cluster_3 = new_inv_transformed_df[new_inv_transformed_df['cluster_name'] == 3] 
print(cluster_3['sex'].value_counts(), "\n") 

children = cluster_3['children'].value_counts()

total_children = 0
for i in children.index:
    if(i >= 2) :
        total_children = total_children + children[i]

print(" instances in Cluster 3 have 2 or more children :",total_children/sum(children), "\n")

# It is to be noted that the majority of instances in Cluster 3 have a gym_frequency of everyday (3.0 -> everyday)
print(cluster_3['gym_frequency'].value_counts(),"\n")

sex
0.0    326
Name: count, dtype: int64

 instances in Cluster 3 have 2 or more children : 0.3374233128834356

gym_frequency
3.0    117
2.0     97
0.0     69
1.0     43
Name: count, dtype: int64

18th question

In [28]:
from sklearn.metrics import silhouette_score

In [29]:
for i in range(2,10):
    kmeans =  KMeans(n_clusters = i,  random_state = 0, n_init= 'auto')
    score = silhouette_score(X_scaled,kmeans.fit_predict(X_scaled)).round(2)
    print ("For n_clusters = {}, silhouette score is {}".format(i, score))

For n_clusters = 2, silhouette score is 0.08
For n_clusters = 3, silhouette score is 0.14
For n_clusters = 4, silhouette score is 0.15
For n_clusters = 5, silhouette score is 0.15
For n_clusters = 6, silhouette score is 0.18
For n_clusters = 7, silhouette score is 0.16
For n_clusters = 8, silhouette score is 0.16
For n_clusters = 9, silhouette score is 0.17

19th question
From the above output, we can see that n_clusters = 6 gives the highest silhouette score which is 0.18 
this is the answer for 19th

20th question

In [30]:
for n in range(2,10):
    agg_model =  AgglomerativeClustering(distance_threshold = None, n_clusters = n)
    score = silhouette_score(X_scaled,agg_model.fit_predict(X_scaled)).round(2)
    print ("For n_clusters = {}, silhouette score is {}".format(n, score))

# From the below output it is to be noted that for n_clusters = 5, we got the highest silhouette score

For n_clusters = 2, silhouette score is 0.1
For n_clusters = 3, silhouette score is 0.14
For n_clusters = 4, silhouette score is 0.19
For n_clusters = 5, silhouette score is 0.22
For n_clusters = 6, silhouette score is 0.18
For n_clusters = 7, silhouette score is 0.17
For n_clusters = 8, silhouette score is 0.16
For n_clusters = 9, silhouette score is 0.17

In [31]:
21st question
the highest silhouette_score is 0.22 at the n_clusters = 5

SyntaxError: invalid decimal literal (3401700516.py, line 1)

from sklearn.metrics import silhouette_score
silhouette = silhouette_score(X_scaled, labels, metric='euclidean')
print("Silhouette Score:", silhouette)